@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "@simonwep/pickr/src/scss/themes/classic";

#ajteditor {
  margin: 0;
  color: #110f24;
  background-color: white;
  font: 16px/1.6 "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  overflow-x: auto;
}

#ajteditor input[type="text"],
#ajteditor input[type="email"],
#ajteditor input[type="number"],
#ajteditor textarea,
#ajteditor select,
#ajteditor input[type="submit"],
#ajteditor button {
  font: 16px/1 "Lato", sans-serif;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
  outline: 0;
  max-width: 600px;
}

#ajteditor input[type="number"] {
  padding: 10px 3px 10px 10px;
}

#ajteditor {
  .ajte-stage-size {
    span {
      font-size: 0.9rem;
    }

    input[type="number"] {
      padding: 3px;
      font-size: 0.85rem;
    }
  }
}

#ajteaside input[type="text"],
#ajteaside input[type="email"],
#ajteaside input[type="number"],
#ajteaside textarea,
#ajteaside select {
  width: 100%;
  background: #f6f6f9;
  border: 1px solid #ececee;
}

.ajte-input-wrap {
  margin-bottom: 15px;
}

.ajte-input-wrap label {
  color: #110f24;
  font-size: 0.9rem;
  font-weight: bold;
}

#ajteditor select {
  padding: 9px 15px 9px 15px;
}

#ajteditor textarea {
  min-height: 18px;
  line-height: 1.3;
}

#ajtecontent {
  display: flex;
  align-items: stretch;
  flex: 1;
  position: relative;
}

#ajteasideform {
  margin: 0 0 20px;
  max-height: 420px;
  overflow-y: auto;
}

#ajteaside {
  width: 300px;
  padding: 10px;
  border-right: 1px solid #ececee;
}

#ajtemainbar {
  flex: 1;
}

a {
  color: #110f24;
  text-decoration: none;
}

a:hover {
  color: #110f24;
  text-decoration: none;
}

.ajtebar .fa {
  margin-right: 5px;
}

.ajterbar .fa-undo {
  transform: scaleX(-1);
}

.ajtebar .switcher > div > .fa {
  margin: 12px;
}

.ajte-container {
  padding: 0 1em;
}

.ajte-barcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#ajte-bar-disabler {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.ajte-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ajte-list li {
  list-style-type: none;
  margin: 0;
  cursor: pointer;
}

.ajte-list li a {
  display: block;
  padding: 7px 10px;
  text-decoration: none;

  span,
  i {
    font-size: 0.9rem;
  }
}

.ajte-list li a:hover,
.ajte-list li.active a {
  background-color: #ececee;
  text-decoration: none;
}

.ajte-menu-has-children {
  position: relative;
}

.ajte-menu-has-children > a > .fa-sort-down {
  margin-left: 10px;
}

.fa-sort-down:before {
  position: relative;
  top: -2px;
}

.ajte-list .ajte-menu-has-children > a {
  padding-right: 10px;
}

.ajte-picker-wrap {
  display: flex;
  align-items: center;
}

.ajte-picker-wrap span {
  margin-right: 5px;
}

.ajte-submenu {
  position: absolute;
  top: 40px;
  left: 0;
  border: 1px solid #ececee;
  border-radius: 4px;
  background-color: white;
  padding: 5px 0;
  min-width: 110px;
  display: none;
  z-index: 1;
}

.ajte-submenu li {
  padding: 0;
}

.ajte-menu-has-children:hover .ajte-submenu {
  display: block;
}

.ajte-rightside .ajte-submenu li {
  margin-left: 0;
}

.ajte-rightside .ajte-submenu li a {
  display: block;
  padding: 5px 35px 5px 15px;
}

.ajte-submenu li a:hover {
  background-color: #ececee;
}

.ajte-barline-border {
  padding: 15px 0;
  border-top: 1px solid #ececee;
}

.ajte-infoline-border {
  border-top: 1px solid #ececee;
  border-bottom: 1px solid #ececee;
}

.ajte-font-size {
  width: 100px;
}

#ajteditor .pickr .pcr-button {
  width: 40px;
  height: 40px;
}

.switcher {
  position: relative;
  width: 39px;
  height: 39px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

.switcher > div.active {
  display: block;
}

.switcher > div {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececee;
  display: none;
  border-radius: 4px;
}

.switcher > div > .fa {
  margin: 12px;
}

.ajte-choose {
  display: flex;
  width: 39px;
  height: 39px;
  border: 1px solid #ececee;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ajte-choose.active {
  background-color: #ececee;
  border: 1px solid #cdcdcd;
}

.ajte-rightside {
  display: flex;
}

.ajte-btn {
  background-color: #2993e9;
  display: inline-block;
  outline: none;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  border: 0;
  text-align: center;
}

.ajte-btn span,
.ajte-btn i {
  color: white;
}

.ajte-btn:hover,
.ajte-list li .ajte-btn:hover {
  background-color: rgb(8, 116, 204);
  color: white;
  transition: 0.3s;
}

.ajte-btn i {
  margin-right: 5px;
}

.ajte-barseccontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 61px;
}

#ajtebarcontent li {
  padding: 10px 10px;
}

.hidden {
  display: none;
}

#ajte-context-menu,
#ajte-text-context-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
}

#ajte-context-menu button,
#ajte-text-context-menu button {
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

#ajte-context-menu button:hover,
#ajte-text-context-menu button:hover {
  background-color: lightgray;
}

#ajteloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
}

#ajteloaderpic .lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

#ajteloaderpic .lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

#ajteloaderpic .lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #b0b0b0;
}

#ajteloaderpic .lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

#ajteloaderpic .lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

#ajteloaderpic .lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

#ajteloaderpic .lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

#ajteloaderpic .lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

#ajteloaderpic .lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

#ajteloaderpic .lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

#ajteloaderpic .lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

#ajteloaderpic .lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

#ajteloaderpic .lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

#ajteloaderpic .lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

#ajteloaderpic .lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ajte-list-buttons li {
  margin-left: 15px;
}

.ajte-btn-dark {
  background-color: #285364;
  color: white;
}

.ajte-btn-dark:hover,
.ajte-list li .ajte-btn.ajte-btn-dark:hover {
  background-color: #458ba6;
  color: white;
}

.ajte-btn-green {
  background-color: #0c9e84;
}

.ajte-btn-green:hover,
.ajte-list li .ajte-btn.ajte-btn-green:hover {
  background-color: #09705d;
}

.aside-btn-wrap {
  flex-direction: column;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.aside-btn-wrap li {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.ajtefirstbtnline a {
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom: 5px;
}

.ajtefirstbtnline a:last-child {
  margin-right: 0px;
}

.ajtesecondbtnline a:nth-child(2) {
  flex-grow: 2;
}

.ajte-padding {
  width: 55px;
  margin-right: 10px;
}

.ajte-stage {
  width: 70px;
  margin-right: 10px;
}

.konvajs-content {
  position: relative;
}
.ajte-konva-placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f6f6f9;
  z-index: 0;
}

#ajtemainbar {
  position: relative;
}

.ajte-image-change {
  opacity: 0.9;
  position: absolute;
  cursor: pointer;
}

.ajte-image-change::after {
  content: "+";
  top: 0;
  right: -22px;
  position: absolute;
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 5px 7px;
  background-color: #285364;
}
.mt-10 {
  margin-top: 10px;
}
.content-wrapper form input[type="email"],
.content-wrapper form input[type="number"],
.content-wrapper form input[type="password"],
.content-wrapper form input[type="text"],
.content-wrapper form select {
  min-width: 270px !important;
}
.categories-group ul {
  z-index: 2;
}
